<table id="ank">
  <thead>
    <tr> <td id="announce" colspan='7'>  red playing...</td></tr>
  </thead>
  <tbody>
    <% (0..5).to_a.reverse.each do |tableRow| %>
      <tr>
      <% (0..6).each do |tableData| %>
        <td onclick="dropDisc(<%=tableData%>)"><span id='<%= tableData %><%= tableRow %>' class="dot"></span></td> 
      <% end %>
      </tr> 
    <% end %>
  </tbody>
</table>
