/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

 table{
  width: 400px; 
  height: 340px; 
  border: 2px solid gray;
  text-align: center;
  margin: auto;
 }

 thead{
  border: 2px solid gray;
  box-align: center;
  text-align: center;
 }

 tr{
  border: 2px solid gray;
  box-align: center;
  text-align: center;
 }

 td{
  border: 2px solid gray;
  box-align: center;
  text-align: center;
 }

 .dot {
  height: 50px;
  width: 50px;
  background-color: white;
  border-radius: 50%;
  display: inline-block;
}
